*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f8f8f8;
}

/* Layout */
.admin-layout{
    min-height: 100vh;
}

/* Sidebar cố định */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background: #000;
    color: #fff;
    z-index: 1000;
}

.menu-item{
    width: 210px;
    height: 48px;
    margin: 0 auto 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item.active,
.menu-item:hover{
    background: #2E9E5B;
}

.logout{
    position: absolute;
    bottom: 30px;
    width: 210px;
    height: 48px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.logout.active,
.logout:hover{
    background: #2E9E5B;
}

/* Main content */
.main-content{
    margin-left: 240px;
    min-height: 100vh;
}

/* Header */
.admin-header{
    position: sticky;
    top: 0;
    z-index: 999;
    height: 86px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
}

.admin-header h1{
    font-size: 34px;
    font-weight: 700;
}

.admin-header h1 span{
    color: #2E9E5B;
}

.admin-info{
    display: flex;
    align-items: center;
    gap: 14px;
}

.admin-info i{
    font-size: 18px;
}

.admin-info img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-info h4{
    font-size: 16px;
}

.admin-info p{
    font-size: 12px;
    color: #777;
}


.revenue-page{
    padding: 32px;
}

.revenue-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.revenue-header h1{
    font-size: 32px;
    color: #27935D;
    font-weight: 700;
}

.time-filter{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #27935D;
    color: white;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

/* Cards */
.revenue-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 32px;
}

.revenue-card{
    height: 140px;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    background: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.revenue-card h3{
    font-size: 16px;
    font-weight: 700;
}

.revenue-card strong{
    font-size: 24px;
    font-weight: 700;
}

.green{
    color: #27935D;
}

.red{
    color: red;
}

/* Charts */
.revenue-chart-row{
    display: grid;
    grid-template-columns: 1.35fr 1fr;
    gap: 24px;
    margin-top: 32px;
}

.revenue-chart-card{
    height: 360px;
    background: #FFFFFF;

    border: 2px solid #E5E7EB;
    border-radius: 10px;

    padding: 24px;
}

.revenue-chart-card h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px;
}

.revenue-chart-card canvas{
    width: 100% !important;
    height: 270px !important;
}

.category-chart canvas{
    height: 250px !important;
}